.container {
  display: flex;
  flex-direction: row;
  height: min-content;
  width: 100%;
  color: #cccccc;

  border-radius: 16px;
  gap: 1em;

  box-shadow: var(--shadow);
}
.poster {
  width: 10%;
  align-self: center;
  border-radius: 16px 0 0 16px;
  object-fit: fill;
}

.title {
  font-size: 1.2em;
  width: 256px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 8px 8px 8px 0;
  border-right: 1px solid #0a1622;
}

.overview {
  word-wrap: break-word;
  padding: 8px 8px 8px 0;

  width: 100%;
}

.released {
  color: #b1b1b1;
  font-weight: 700;
}

.genres {
  display: flex;
  gap: 0.5em;
}

.runtime {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.clock {
  background-image: url("../../icons/time.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.popularity {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.people {
  background-image: url("../../icons/popularity.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.genres > p {
  background-color: #0a1622;
  padding: 4px 8px 4px 8px;
  border-radius: 16px;
  font-size: 0.7em;
}
