.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-top: 32px;
  align-items: center;

  width: min-content;
  position: relative;
}

.input {
  width: 512px;
  height: 64px;
  padding: 8px 16px 8px 16px;

  border-radius: 16px;
  background-color: var(--main-bg);
  box-shadow: var(--shadow);

  color: #cccccc;
  font-size: 1.2em;
}

.submit {
  height: 80px;
  width: 80px;

  border-radius: 16px;
  background-color: var(--main-bg);
  box-shadow: var(--shadow);

  color: #cccccc;
  font-size: 1.2em;
}

::placeholder {
  color: #cccccc;
}

.suggestion_container {
  position: absolute;
  top: 128px;
  left: auto;
  right: auto;

  display: flex;
  flex-direction: column;
  width: 100%;

  border-radius: 16px;
  box-shadow: var(--shadow);
}

.suggestion {
  background-color: var(--main-bg);

  color: #cccccc;
  text-align: left;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  border-radius: 16px;
}

.suggestion:hover {
  background-color: var(--main-bg-hover);
}
